{erl_opts, [debug_info]}.

{plugins, [
    { rebar3_elixir_compile, ".*", {git, "https://github.com/barrel-db/rebar3_elixir_compile.git", {branch, "master"}}}
]}.

{deps, [
  {faker, {elixir, "faker" ,"0.6.0"}}
]}.

{provider_hooks, [
  {pre, [{compile, {ex, compile}}]},
  {pre, [{release, {ex, compile}}]}
]}.

{elixir_opts, 
  [
    {env, dev}
  ]
}.

{relx, [{release, {demo, "0.0.1"},
         [demo]},

        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]}.
