{erl_opts, [debug_info]}.

{plugins, [
    { rebar3_elixir, ".*", {git, "https://github.com/barrel-db/rebar3_elixir.git", {branch, "master"}}}
]}.

{deps, [
  {decimal, {elixir, "decimal" ,"1.1.0"}},
]}.

{provider_hooks, [
  {pre, [{compile, {ex, compile}}]}
]}.

{elixir_opts, 
  [
    {env, dev}
  ]
}.
